@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');

.header_wrap {
  width: 100%;
  margin: 0 auto;
  padding-top: 10px; 
}

.header_dddd {
    display: flex;
    justify-content: space-between; /* 요소들을 좌우로 배치합니다. */
    align-items: center; /* 요소들을 세로 중앙에 배치합니다. */
    padding: 20px; /* 필요에 따라 페이지 패딩을 조절합니다. */
}

.logo {
    width: 100px; /* 로고의 너비를 조절합니다. */
    height: auto; /* 로고의 높이를 자동으로 조절합니다. */
    cursor: pointer;
}

.logo:hover{
  
}

/* .logo {
  width: 510px;
  height: 308px;
  background-image: url(../../resources/image/goodee.png);
  background-size: 176px 46px;
  margin: 50px auto;
} */
.login_wrap {
  width: 100%;
  height: 50px;
  display :inline-block;
}

.ul_menu{
  text-align: right;
  float: right;
}

.gnb_wrap {
  width: 100%;
  height: 48px;
  border-bottom: 1px solid gray;
}

.gnb a {
  display: inline;
  width: 100%;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
}
.gnb a:hover {
  background-color: #efefef;
}
.searchWord {
  width: 400px;
  display :inline-block;
  text-align: left;
}
.search {
  width: 500px;
  margin-right: 400px;
  margin-top: 40px;
}

.btn_search {
  width: 37px;
  height: 37px;
  background-color: white;
  border: none;
  display :inline-block;
}
.search_icon {
  width: 40px;
  height: 40px;
}




