@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');

.header_wrap {
  width: 100%;
  margin: 0 auto;
  padding-top: 50px; 
}
.logo {
  width: 176px;
  height: 46px;
  background-image: url(../../resources/image/goodee.png);
  background-size: 176px 46px;
  margin: 50px auto;
}
.login_wrap {
  width: 100%;
  height: 48px;
  text-align: right;
}
.gnb_wrap {
  width: 100%;
  height: 48px;
  border-bottom: 1px solid gray;
}
.gnb {
  display: flex;
  justify-content: space-between;
  flex: 4;
}
.gnb li {
  width: 100%;
}
.gnb a {
  display: block;
  width: 100%;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
}
.gnb a:hover {
  background-color: #efefef;
}