<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gdu.joongoing.dao.InquiryMapper">
  
  <resultMap type="InquiryDto" id="InquiryMap">
    <id     column="INQUIRY_NO"           property="inquiryNo" />
    <result column="INQUIRY_TITLE"        property="inquiryTitle"/>
    <result column="INQUIRY_CONTENT"      property="inquiryContent"/>
    <result column="INQUIRY_CREATED_AT"   property="inquiryCreatedAt"/>
    <association  javaType="UserDto"          property="userDto">
      <id         column="USER_NO"            property="userNo" />
      <result     column="EMAIL"              property="email" />
      <result     column="NAME"               property="name" />
      <result     column="PW"                 property="pw" />
      <result     column="GENDER"             property="gender" />
      <result     column="PHONE"              property="phone" />
      <result     column="AGREE"              property="agree" />
      <result     column="STATE"              property="state" />
      <result     column="JOINED_AT"          property="joinedAt" />
      <result     column="SIDO"               property="sido" />
      <result     column="SIGUNGU"            property="sigungu" />
      <result     column="INTEREST_SIDO"      property="interestSido" />
      <result     column="INTEREST_SIGUNGU"   property="interestSigungu" />
    </association>
  </resultMap>
  
  <select id="getInquiryCount" resultType="int">
    SELECT COUNT(*)
      FROM INQUIRY
  </select>

  <select id="getInquiryList" parameterType="Map" resultMap="InquiryMap">
    SELECT INQUIRY_NO, EMAIL, USER_NO, INQUIRY_TITLE, INQUIRY_CONTENT, INQUIRY_CREATED_AT
      FROM (SELECT ROW_NUMBER() OVER(ORDER BY INQUIRY_NO DESC) AS RN, INQUIRY_NO, I.USER_NO, U.EMAIL, INQUIRY_TITLE, INQUIRY_CONTENT, INQUIRY_CREATED_AT
              FROM INQUIRY I INNER JOIN USER_T U
                ON I.USER_NO = U.USER_NO)  
     WHERE RN BETWEEN #{begin} AND #{end}
  </select>
  
  <select id="getInquiry" parameterType="int" resultMap="InquiryMap">
    SELECT INQUIRY_NO, EMAIL, USER_NO, INQUIRY_TITLE, INQUIRY_CONTENT, INQUIRY_CREATED_AT
      FROM (SELECT INQUIRY_NO, I.USER_NO, U.EMAIL, INQUIRY_TITLE, INQUIRY_CONTENT, INQUIRY_CREATED_AT
              FROM INQUIRY I INNER JOIN USER_T U
                ON I.USER_NO = U.USER_NO)
     WHERE INQUIRY_NO = #{inquiryNo}
  </select>
  
  <insert id="insertInquiry" parameterType="InquiryDto">
    <selectKey order="BEFORE" keyProperty="inquiryNo" resultType="int">
      SELECT INQUIRY_SEQ.NEXTVAL
        FROM DUAL
    </selectKey>
    INSERT INTO INQUIRY(
        INQUIRY_NO
      , USER_NO
      , INQUIRY_TITLE
      , INQUIRY_CONTENT
      , INQUIRY_CREATED_AT
    ) VALUES (
        #{inquiryNo}
      , #{userDto.userNo}
      , #{inquiryTitle}
      , #{inquiryContent}
      , SYSTIMESTAMP
    )
  </insert>
  
  <insert id="insertAnswer" parameterType="AnswerDto">
    INSERT INTO ANSWER (
        ANSWER_NO
      , INQUIRY_NO
      , CONTENTS
      , CREATED_AT
      , DEPTH
      , STATUS
      , GROUP_NO
    ) VALUES (
        ANSWER_SEQ.NEXTVAL
      , #{inquiryNo}
      , #{contents}
      , SYSTIMESTAMP
      , 0
      , 1
      , ANSWER_SEQ.CURRVAL
    )
  </insert>
  
  <select id="getAnswerCount" parameterType="int" resultType="int">
    SELECT COUNT(*)
      FROM ANSWER
     WHERE INQUIRY_NO = #{inquiryNo}
  </select>

  <select id="getAnswerList" parameterType="Map" resultType="AnswerDto">
    SELECT ANSWER_NO, INQUIRY_NO, CONTENTS, CREATED_AT, STATUS, DEPTH, GROUP_NO
      FROM (SELECT ROW_NUMBER() OVER(ORDER BY GROUP_NO DESC, DEPTH ASC, ANSWER_NO DESC) AS RN, ANSWER_NO, INQUIRY_NO, CONTENTS, CREATED_AT, STATUS, DEPTH, GROUP_NO
              FROM ANSWER
             WHERE INQUIRY_NO = #{inquiryNo})
     WHERE RN BETWEEN #{begin} AND #{end}
  </select>
  
  <insert id="insertAnswerReply" parameterType="AnswerDto">
    INSERT INTO ANSWER (
        ANSWER_NO
      , INQUIRY_NO
      , CONTENTS
      , CREATED_AT
      , STATUS
      , DEPTH
      , GROUP_NO
    ) VALUES (
        ANSWER_SEQ.NEXTVAL
      , #{inquiryNo}
      , #{contents}
      , SYSTIMESTAMP
      , 1
      , 1
      , #{groupNo}
    )
  </insert>
  
  <insert id="insertInquiryAttach" parameterType="InquiryAttachDto">
    <selectKey order="BEFORE" keyProperty="attachNo" resultType="int">
        SELECT INQUIRY_ATTACH_SEQ.NEXTVAL
          FROM DUAL
      </selectKey>
    INSERT INTO INQUIRY_ATTACH (
      ATTACH_NO,
      INQUIRY_NO,
      PATH,
      ORIGINAL_NAME,
      FILESYSTEM_NAME
    ) VALUES (
      #{attachNo},
      #{inquiryNo},
      #{path},
      #{originalName},
      #{filesystemName}
    )
  </insert>
  

  
</mapper>