<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gdu.joongoing.dao.InquiryMapper">

  <select id="getInquiryCount" resultType="int">
    SELECT COUNT(*)
      FROM INQUIRY_T
  </select>

  <select id="getInquiryList" parameterType="Map" resultType="InquiryDto">
    SELECT A.INQUIRY_NO, A.USER_NO, A.INQUIRY_TITLE, A.INQUIRY_CONTENT, A.INQUIRY_CREATED_AT
      FROM (SELECT ROW_NUMBER() OVER(ORDER BY I.INQUIRY_NO DESC) AS RN, I.USER_NO, I.INQUIRY_TITLE, I.INQUIRY_CONTENT, I.INQUIRY_CREATED_AT
              FROM USER_T U INNER JOIN INQUIRY_T I
                ON I.USER_NO = U.USER_NO) A
     WHERE A.RN BETWEEN #{begin} AND #{end}
  </select>




  
</mapper>