<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gdu.joongoing.dao.NoticeMapper">
  <select id="getNoticeList" parameterType="Map" resultType="NoticeDto">
    SELECT NOTICE_NO, TITLE, CONTENTS, CREATED_AT, NUM,
                    TRUNC(MONTHS_BETWEEN(SYSTIMESTAMP, CREATED_AT) / 12)                      AS YEAR_AGO,
                    TRUNC(MONTHS_BETWEEN(SYSTIMESTAMP, CREATED_AT))                           AS MONTH_AGO,
                    EXTRACT(DAY      FROM SYSTIMESTAMP  - CREATED_AT)                         AS DAY_AGO,
                    EXTRACT(HOUR     FROM SYSTIMESTAMP  - CREATED_AT)                         AS HOUR_AGO,
                    EXTRACT(MINUTE   FROM SYSTIMESTAMP  - CREATED_AT)                         AS MINUTE_AGO,
                    TRUNC(EXTRACT(SECOND   FROM SYSTIMESTAMP  - CREATED_AT))                  AS SECOND_AGO
      FROM  (SELECT ROW_NUMBER() OVER(ORDER BY NOTICE_NO DESC) AS RN,  ROW_NUMBER() OVER(ORDER BY NOTICE_NO ASC) AS NUM, NOTICE_NO, TITLE, CONTENTS, CREATED_AT 
               FROM NOTICE)
     WHERE RN BETWEEN #{begin} AND #{end}
  </select>
  
  <select id="getNoticeCount" resultType="int">
    SELECT COUNT(*)
      FROM NOTICE
  </select>
  
  <select id="getNotice" parameterType="int" resultType="NoticeDto">
    SELECT NOTICE_NO, TITLE, CONTENTS, CREATED_AT
      FROM NOTICE
     WHERE NOTICE_NO = #{noticeNo}
  </select>
  
  <insert id="insertNotice" parameterType="NoticeDto">
    <selectKey order="BEFORE" keyProperty="noticeNo" resultType="int">
      SELECT NOTICE_SEQ.NEXTVAL
        FROM DUAL
    </selectKey>
    INSERT INTO NOTICE (
      NOTICE_NO, 
      TITLE, 
      CONTENTS, 
      CREATED_AT
    ) VALUES (
      #{noticeNo},
      #{title},
      #{contents},
      SYSTIMESTAMP
    )
  </insert>
  
  <insert id="insertNoticeAttach" parameterType="NoticeAttachDto">
    <selectKey order="BEFORE" keyProperty="attachNo" resultType="int">
        SELECT NOTICE_ATTACH_SEQ.NEXTVAL
          FROM DUAL
      </selectKey>
    INSERT INTO NOTICE_ATTACH (
      ATTACH_NO,
      NOTICE_NO,
      PATH,
      FILESYSTEM_NAME
    ) VALUES (
      #{attachNo},
      #{noticeNo},
      #{path},
      #{filesystemName}
    )
  </insert>
  
  <update id="updateNotice" parameterType="NoticeDto">
    UPDATE NOTICE
       SET TITLE = #{title},
           CONTENTS = #{contents}
     WHERE NOTICE_NO = #{noticeNo}
  </update>
  
  <delete id="deleteNotice" parameterType="int">
    DELETE 
      FROM NOTICE
     WHERE NOTICE_NO = #{noticeNo}  
  </delete>
  
</mapper>