<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gdu.myhome.dao.UploadMapper">

  <!-- UploadDto에는 UserDto가 포함되어 있으므로 resultMap을 만들어서 UploadDto의 설명을 넣어줌 -->
  <resultMap type="UploadDto"      id="UploadMap">
    <id      column="UPLOAD_NO"    property="uploadNo"/>
    <result  column="TITLE"        property="title"/>
    <result  column="CONTENTS"     property="contents"/>
    <result  column="CREATED_AT"   property="createdAt"/>
    <result  column="MODIFIED_AT"  property="modifiedAt"/>
    <result  column="ATTACH_COUNT" property="attachCount"/>
    <association javaType="UserDto"      property="userDto">
      <id        column="USER_NO"        property="userNo"/>
      <result    column="EMAIL"          property="email" />
      <result    column="PW"             property="pw" />
      <result    column="NAME"           property="name" />
      <result    column="GENDER"         property="gender" />
      <result    column="MOBILE"         property="mobile" />
      <result    column="POSTCODE"       property="postcode" />
      <result    column="ROAD_ADDRESS"   property="roadAddress" />
      <result    column="JIBUN_ADDRESS"  property="jibunAddress" />
      <result    column="DETAIL_ADDRESS" property="detailAddress" />
      <result    column="AGREE"          property="agree" />
      <result    column="STATE"          property="state" />
      <result    column="PW_MODIFIED_AT" property="pwModifiedAt" />
      <result    column="JOINED_AT"      property="joinedAt" />
    </association>
  </resultMap>

  <insert id="insertUpload" parameterType="UploadDto">
    <!-- INSERT 수행 이전에 파라미터 UploadDto의 uploadNo 필드에 UPLOAD_SEQ.NEXTVAL값을 저장한다. -->
    <selectKey order="BEFORE" resultType="int" keyProperty="uploadNo">
      SELECT UPLOAD_SEQ.NEXTVAL
        FROM DUAL
    </selectKey>
    INSERT INTO UPLOAD_T (
        UPLOAD_NO
      , TITLE
      , CONTENTS
      , USER_NO
      , CREATED_AT
      , MODIFIED_AT
    ) VALUES (
        #{uploadNo}
      , #{title}
      , #{contents}
      , #{userDto.userNo}
      , TO_CHAR(SYSDATE, 'YYYY-MM-DD HH24:MI:SS')
      , TO_CHAR(SYSDATE, 'YYYY-MM-DD HH24:MI:SS')
    )
  </insert>
  
  <insert id="insertAttach" parameterType="AttachDto">
    INSERT INTO ATTACH_T (
        ATTACH_NO
      , PATH
      , ORIGINAL_FILENAME
      , FILESYSTEM_NAME
      , DOWNLOAD_COUNT
      , HAS_THUMBNAIL
      , UPLOAD_NO
    ) VALUES (
        ATTACH_SEQ.NEXTVAL
      , #{path}
      , #{originalFilename}
      , #{filesystemName}
      , 0
      , #{hasThumbnail}
      , #{uploadNo}
    )
  </insert>
  
  <select id="getUploadCount" resultType="int">
    SELECT COUNT(*)
      FROM UPLOAD_T
  </select>
  
  <select id="getUploadList" parameterType="Map" resultMap="UploadMap">
    SELECT A.UPLOAD_NO, A.TITLE, A.CONTENTS, A.CREATED_AT, A.MODIFIED_AT, A.ATTACH_COUNT, A.USER_NO, A.EMAIL, A.NAME
      FROM (SELECT ROW_NUMBER() OVER(ORDER BY UPLOAD_NO DESC) AS RN,
                   UP.UPLOAD_NO, UP.TITLE, UP.CONTENTS, UP.CREATED_AT, UP.MODIFIED_AT,
                   (SELECT COUNT(*) FROM ATTACH_T ATC WHERE UP.UPLOAD_NO = ATC.UPLOAD_NO) AS ATTACH_COUNT,
                   USR.USER_NO, USR.EMAIL, USR.NAME
              FROM UPLOAD_T UP LEFT OUTER JOIN USER_T USR
                ON UP.USER_NO = USR.USER_NO) A
     WHERE A.RN BETWEEN #{begin} AND #{end}
  </select>
  
  <select id="getUpload" parameterType="int" resultMap="UploadMap">
    SELECT UP.UPLOAD_NO, UP.TITLE, UP.CONTENTS, UP.CREATED_AT, UP.MODIFIED_AT
         , USR.USER_NO, USR.EMAIL, USR.NAME
      FROM USER_T USR RIGHT OUTER JOIN UPLOAD_T UP
        ON USR.USER_NO = UP.USER_NO
     WHERE UP.UPLOAD_NO = #{uploadNo}
  </select>

  <select id="getAttachList" parameterType="int" resultType="AttachDto">
    SELECT ATTACH_NO, PATH, ORIGINAL_FILENAME, FILESYSTEM_NAME, DOWNLOAD_COUNT, HAS_THUMBNAIL, UPLOAD_NO
      FROM ATTACH_T
     WHERE UPLOAD_NO = #{uploadNo}
  </select>
  
  <select id="getAttach" parameterType="int" resultType="AttachDto">
    SELECT ATTACH_NO, PATH, ORIGINAL_FILENAME, FILESYSTEM_NAME, DOWNLOAD_COUNT, HAS_THUMBNAIL, UPLOAD_NO
      FROM ATTACH_T
     WHERE ATTACH_NO = #{attachNo}
  </select>
  
  <update id="updateDownloadCount" parameterType="int">
    UPDATE ATTACH_T
       SET DOWNLOAD_COUNT = DOWNLOAD_COUNT + 1
     WHERE ATTACH_NO = #{attachNo}
  </update>
  
  
  
  
  
  
  
  
  
  
  
</mapper>