<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    
  <!-- 설정 -->
  <settings>
    <setting name="mapUnderscoreToCamelCase" value="true"/>
  </settings>
  
  <typeAliases>
  
    <typeAlias alias="UserDto"           type="com.gdu.joongoing.dto.UserDto"/>
    <typeAlias alias="InactiveUserDto"   type="com.gdu.joongoing.dto.InactiveUserDto"/>
    <typeAlias alias="LeaveUserDto"      type="com.gdu.joongoing.dto.LeaveUserDto"/>
    
    <typeAlias alias="ProductDto"        type="com.gdu.joongoing.dto.ProductDto"/>
    <typeAlias alias="ProductCommentDto" type="com.gdu.joongoing.dto.ProductCommentDto"/>
    <typeAlias alias="ProductImageDto"   type="com.gdu.joongoing.dto.ProductImageDto"/>
    <typeAlias alias="CategoryDto"       type="com.gdu.joongoing.dto.CategoryDto"/>
    
    <typeAlias alias="AlarmDto"          type="com.gdu.joongoing.dto.AlarmDto"/>
    
    <typeAlias alias="InquiryDto"        type="com.gdu.joongoing.dto.InquiryDto"/>
    <typeAlias alias="InquiryAttachDto"  type="com.gdu.joongoing.dto.InquiryAttachDto"/>
    <typeAlias alias="AnswerDto"         type="com.gdu.joongoing.dto.AnswerDto"/>

    <typeAlias alias="NoticeDto"         type="com.gdu.joongoing.dto.NoticeDto"/>
    <typeAlias alias="NoticeAttachDto"   type="com.gdu.joongoing.dto.NoticeAttachDto"/>
    
  </typeAliases>

</configuration>